body {
    margin-top: 64px;
    font-family: Noto Sans;
}
#headerbar {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 56px;
    background-color: #405d27;
    box-shadow: 10px 0 10px #222;
}
#headerbar img {
    vertical-align: middle;
    border: none;
    display: inline;
    padding: 0;
    size: 48px;
}
#headerbar a, #headerbar a:link, #headerbar a:visited, #headerbar a:hover, #headerbar a:active {
    color: white;
    font-family: Noto Sans;
    font-size: 1.5em;
    text-decoration: none;
    padding: 4px;
    text-align: left;
    display: inline;
    border: none;
}
#menu {
    display: inline;
    color: white;
    margin-left: 5vw;
    vertical-align: middle;
}
#footerbar {
    display: block;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 32px;
    margin: 0;
    padding: 0;
    text-align: center;
    vertical-align: middle;
    background-color: #212121;
    color: white;
}
#rightSidebar {
    display: block;
    right: 0;
    top: 0;
    float: right;
    width: 350px;
    padding-left: 2%;
    margin-right: 10%;
}
#rightSidebar .contentBlock {
    display: block;
    background-color: #e4e4e4;
    margin-top: 0;
    margin-bottom: 30px;
    padding: 15px;
    box-shadow: 5px 5px 5px rgba(128, 128, 128, 70);
    border: 0px solid;
    border-radius: 5px;
}
#contentArea {
    display: block;
    float: left;
    margin-left: 10%;
    padding-right: 2%;
}
#banner {
    display: block;
    float: none;
    margin-top: 0;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 30px;
}
